td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
table{
    background-color: white;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}
img.resize {
    width:100px;
    height:100px;
}
img.Fill{
    width: 500px;
    height: 100px;
}
header{
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}
h2{
    color: white;
    padding-top: 10px;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}



body{    
    background-color: black;
}

.gameOptions{
    color: white;
    padding-bottom: 10px;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}
.gameButtons{
    padding-bottom: 15px;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
    
}
button{
    width: 120px;
}




